nose
mock;python_version<"3"
codecov
coverage
flake8
SQLAlchemy
flask
lxml==3.4.4
pyexcel-xlsx>=0.1.0
pyexcel-xls>=0.1.0
pyexcel-text>=0.2.0
pyexcel-handsontable
https://github.com/pyexcel-renderers/pyexcel-pygal/archive/master.zip
https://github.com/pyexcel-renderers/pyexcel-echarts/archive/master.zip
psutil
